@charset "UTF-8";
html, body {
  height: 100%;
  /*text-align: center;*/
  background-color: #f1faee;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  /*font-size: 1em;*/
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 1em 0 .5em;
  color: #fb8500;
}

p {
  text-align: center;
  max-width: 80%;
  margin: 1.5em auto;
  line-height: 1.5em;
  padding-bottom: 2em;
  color: #fb8500;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.nav-wrap {
  width: 100%;
  margin: 1em auto 0;
}
@media (min-width: 992px) {
  .nav-wrap {
    width: 80%;
  }
}

[hidden] {
  display: none;
  visibility: hidden;
}

.acnav {
  width: 100%;
}
.acnav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.acnav__list--level1 {
  border: 2px solid #f1faee;
}
.has-children > .acnav__label::before {
  content: "ï§";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  /*font-size: inherit;*/
  text-rendering: auto;
  margin-right: 1em;
  transition: transform 0.3s;
}
.has-children.is-open > .acnav__label::before {
  transform: rotate(405deg);
}
.acnav__link, .acnav__label {
  display: block;
  font-size: 1em;
  padding: 1em;
  margin: 0;
  cursor: pointer;
  color: #fcfcfc;
  background: #1d3557;
  box-shadow: inset 0 -1px #f1faee;
  transition: color 0.25s ease-in, background-color 0.25s ease-in;
}
.acnav__link:focus, .acnav__link:hover, .acnav__label:focus, .acnav__label:hover {
  color: #e3e3e3;
  background: #ff8902;
}
.acnav__link--level2, .acnav__label--level2 {
  padding-left: 3em;
  background: #457b9d;
}
.acnav__link--level2:focus, .acnav__link--level2:hover, .acnav__label--level2:focus, .acnav__label--level2:hover {
  background: #ff8902;
}
.acnav__link--level3, .acnav__label--level3 {
  padding-left: 5em;
  background: #77d7da;
}
.acnav__link--level3:focus, .acnav__link--level3:hover, .acnav__label--level3:focus, .acnav__label--level3:hover {
  background: #ff8902;
}
.acnav__link--level4, .acnav__label--level4 {
  padding-left: 7em;
  background: #bbbbbb;
}
.acnav__link--level4:focus, .acnav__link--level4:hover, .acnav__label--level4:focus, .acnav__label--level4:hover {
  background: #ff8902;
}
.acnav__list--level2, .acnav__list--level3, .acnav__list--level4 {
  display: none;
}
.is-open > .acnav__list--level2, .is-open > .acnav__list--level3, .is-open > .acnav__list--level4 {
  display: block;
}

input[type='checkbox'] + .pure-toggle {
  display: inline-block;
  color: #fcfcfc;
  transition: all 0.5s ease-out;
  cursor: pointer;
  font-weight: 100;
}
input[type='checkbox'] + .pure-toggle:hover {
  color: #e63946;
}/*
input[type='checkbox'] + .pure-toggle i {
  width: 30px;
}*/
input[type='checkbox'] + .pure-toggle span {
  margin-left: 10px;
}

input[type='checkbox']:checked + .pure-toggle {
  color: #fefae0;
}
input[type='checkbox']:checked + .pure-toggle i {
  transition: all 0.5s ease-out;
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
input[type='checkbox']:checked + .pure-toggle i:before {
  content: "\f00c";
}